<!--
To Encrypt:
  1. Open CMD as administrator. 
  2. Run ASPNET_REGIIS command against web.config path
    - C:\Windows\Microsoft.NET\Framework\v4.0.30319\ASPNET_REGIIS -pef "connectionStrings" "<Path To Application Web.Config>"
  3. Give Access to Logged In User to Decrypt On Application Level. using this:
    - C:\Windows\Microsoft.NET\Framework\v4.0.30319\ASPNET_REGIIS -pa NetFrameworkConfigurationKey "server\incheqsuser" -full
  
e.g.  
- C:\Windows\Microsoft.NET\Framework\v4.0.30319\ASPNET_REGIIS -pef "connectionStrings" "C:\Users\Abi Dzar\Documents\Development\INCHEQS.ICS.V2\INCHEQS" 
- C:\Windows\Microsoft.NET\Framework\v4.0.30319\ASPNET_REGIIS -pa NetFrameworkConfigurationKey "server\incheqsuser" -full
  
  
To Change And Decrypt:
  1. Run ASPNET_REGIIS command on the same application
  
e.g.
C:\Windows\Microsoft.NET\Framework\v4.0.30319\ASPNET_REGIIS -pdf "connectionStrings" "C:\Users\Abi Dzar\Documents\Development\INCHEQS.ICS.V2\INCHEQS.ICS"

-->
<connectionStrings>
    <add name="default" connectionString="Data Source=DESKTOP-NSQILVE\SQLEXPRESS;Integrated Security=False;Initial Catalog=RHB_DEMO_ICS;User ID=incheqsuser;Password=incheqs2008;Connect Timeout=60;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
        providerName="System.Data.SqlClient" />
    <add name="INCHEQS_ICSConnectionString" connectionString="Data Source=DESKTOP-NSQILVE\SQLEXPRESS;Initial Catalog=RHB_DEMO_ICS;Integrated Security=True"
        providerName="System.Data.SqlClient" />
</connectionStrings>